<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
#demo{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: aqua;
    padding: 5px 20px;
    color: rgb(247, 9, 9);
    border-radius: 10px;

}
